*

!.gitignore
!README.md

!cava/
!cava/**

!fastfetch/
!fastfetch/**

!greenclip.toml

!helix/
!helix/**

!i3/
!i3/**

!kitty/
!kitty/**

!nvim/
!nvim/**

!picom/
!picom/**

!polybar/
!polybar/**

!redshift/
!redshift/**

!rofi/
!rofi/**

!.zshrc
