//@theme "/home/lika/.local/share/rofi/themes/miku.rasi"
//@theme "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"
//@theme "/usr/share/rofi/themes/iggy.rasi"
@theme "/usr/share/rofi/themes/DarkBlue.rasi"
